.home
  .banners
    .container
      .row
        .col-md-12
          %h2 Salesforce Connector Overview
          Connectors allow Connec!™ to sync with third-party applications such as CRM systems, Accounting and Payroll softwares. Data is exchanged in real-time so you can better manage your business operations.

  - if current_user
    .container
      .row
        .col-md-3
          =image_tag "logos/default-white.png", class: 'external-logo'
        .col-md-8.alert.alert-success
          %h4
            Your Maestrano company <strong>#{@organization.name} (#{@organization.uid})</strong> is currently linked
        .col-md-1
          = link_to "Disconnect", Maestrano::Connector::Rails::Engine.routes.url_helpers.maestrano_signout_path, class: "btn btn-warning btn-lg"

      .spacer2

      .row
        .col-md-3
          =image_tag "logos/salesforce.png", class: 'external-logo'
        - if @organization.oauth_uid
          .col-md-8.alert.alert-success
            %h4
              Your SalesForce account <strong>#{@organization.oauth_name} (#{@organization.oauth_uid})</strong> is currently linked
          .col-md-1
            = link_to "Disconnect", signout_omniauth_path(organization_id: @organization.id), class: "btn btn-warning btn-lg"
        - else
          .col-md-8.alert.alert-warning
            %h4
              Your SalesForce account is not linked
          .col-md-1
            = link_to "Link to SalesForce", "/auth/salesforce/request?org_uid=#{@organization.uid}", class: "btn btn-warning btn-lg" if is_admin?(current_user, @organization)

      .spacer2

      .row
        .col-md-3
          =image_tag "logos/connec-black.png", class: 'external-logo'
        - if @organization.sync_enabled
          .col-md-8.alert.alert-success
            %h4
              Synchronizations are enabled
          .col-md-1
            = link_to "Toggle off", admin_toggle_sync_path, method: :put, class: "btn btn-warning btn-lg"
        - else
          .col-md-8.alert.alert-warning
            %h4
              Synchronizations are disabled
          .col-md-1
            = link_to "Toggle on", admin_toggle_sync_path, method: :put, class: "btn btn-warning btn-lg"

  - else
    .container
      .row
        .col-md-4.col-md-offset-4.center
          = link_to "Link your Maestrano account", Maestrano::Connector::Rails::Engine.routes.url_helpers.default_maestrano_auth_saml_index_path(tenant: :default), class: 'btn btn-warning'
