.home
  .banners
    .container
      .row
        .col-md-12
          %h2 Salesforce Connector
          %p
            Link your Maestrano account to SalesForce to get your business in synch. Check the status of your connection on this screen.

      - if current_user
        .row
          .col-md-3.text-center
            .row
              .col-md-2
                %span.badge.alert-info
                  %h4 1
              .col-md-10
                =image_tag "logos/default-white.png", class: 'external-logo'
          .col-md-8.alert.alert-success
            %h
              Your Maestrano company <strong>#{@organization.name} (#{@organization.uid})</strong> is currently linked
          .col-md-1
            = button_to "Disconnect", Maestrano::Connector::Rails::Engine.routes.url_helpers.maestrano_signout_path, class: "btn btn-warning btn-lg #{is_admin ? '' : 'disabled'}", rel: 'tooltip', title: "#{is_admin ? '' : 'You don\'t have the necessary rights to do this'}"

        .spacer2

        .row
          .col-md-3.text-center
            .row
              .col-md-2
                %span.badge.alert-info
                  %h4 2
              .col-md-10
                =image_tag "logos/salesforce.png", class: 'external-logo'
          - if @organization.oauth_uid
            .col-md-8.alert.alert-success
              %h
                Your SalesForce account <strong>#{@organization.oauth_name} (#{@organization.oauth_uid})</strong> is currently linked
            .col-md-1
              = button_to "Disconnect", signout_omniauth_path(organization_id: @organization.id), class: "btn btn-warning btn-lg #{is_admin ? '' : 'disabled'}", rel: 'tooltip', title: "#{is_admin ? '' : 'You don\'t have the necessary rights to do this'}"
          - else
            .col-md-8.alert.alert-warning
              %h
                Your SalesForce account is not linked
            .col-md-1
              = button_to "Link to SalesForce", "/auth/salesforce/request?org_uid=#{@organization.uid}", class: "btn btn-warning btn-lg #{is_admin ? '' : 'disabled'}", rel: 'tooltip', title: "#{is_admin ? '' : 'You don\'t have the necessary rights to do this'}"

        .spacer2

        .row
          .col-md-3.text-center
            .row
              .col-md-2
                %span.badge.alert-info
                  %h4 3
              .col-md-10
                =image_tag "logos/sync.png", class: 'external-logo'
          - if @organization.sync_enabled
            .col-md-8.alert.alert-success
              %h
                Synchronizations are enabled
            .col-md-1
              = button_to "Toggle off", home_toggle_sync_path, method: :put, class: "btn btn-warning btn-lg #{is_admin ? '' : 'disabled'}", rel: 'tooltip', title: "#{is_admin ? '' : 'You don\'t have the necessary rights to do this'}"
          - else
            .col-md-8.alert.alert-warning
              %h
                Synchronizations are disabled
            .col-md-1
              = button_to "Toggle on", home_toggle_sync_path, method: :put, class: "btn btn-warning btn-lg #{is_admin ? '' : 'disabled'}", rel: 'tooltip', title: "#{is_admin ? '' : 'You don\'t have the necessary rights to do this'}"

      - else
        .row
          .col-md-4.col-md-offset-4.center
            = link_to "Link your Maestrano account", Maestrano::Connector::Rails::Engine.routes.url_helpers.default_maestrano_auth_saml_index_path(tenant: :default), class: 'btn btn-warning'

      - if @organization
        .row
          %h3
            Synchronized entities
            %small You can customize which entities are synchronized by the connector

          .col-md-11.col-md-offset-1
            = form_tag home_update_path(id: @organization.id), method: :put do
              - @organization.synchronized_entities.each do |k, v|
                .row
                  .col-md-2
                    %label{:for => "#{k}"} #{k.to_s.humanize.pluralize}
                  .col-md-1
                    %input{type: "checkbox", id: "#{k}", name: "#{k}", checked: v}
                  -if v && @organization.oauth_uid
                    .col-md-2
                      - if @organization.sync_enabled
                        = button_to "Force a synchronization for #{k.to_s.humanize.pluralize.downcase} only", home_synchronize_path(opts: {only_entities: [k.to_s]}), method: :post, class: "btn btn-warning btn-sm #{is_admin && @organization.sync_enabled ? '' : 'disabled'}", rel:"tooltip", title:"#{is_admin ? '' : 'You don\'t have the necessary rights to do this'}"
              =submit_tag :Save, class: "btn btn-primary #{is_admin ? '' : 'disabled'}", rel:"tooltip", title:"#{is_admin ? '' : 'You don\'t have the necessary rights to do this'}"
